__pycache__/
*.py[cod]
*.pyo
*.swp
.ipynb_checkpoints/

/runs/
/*/runs/
/checkpoints/
/*/checkpoints/
/logs/
/*/logs/
/outputs/
/*/outputs/
/wandb/
/*/wandb/
events.out.tfevents.*

*.pt
*.pth
*.pth.tar
*.ckpt
*.npy
*.npz
*.pkl
*.zip
